<%- pageTitle "Articles" %>

<p>Below is a list of articles that I've written.</p>

<ul>
  <li>
    <%= link_to "Getting Started with the OpenGL Shading Language", :action => "getting_started_with_glsl" %>
    <p>This article provides an introduction to the OpenGL Shading Language (GLSL). It contains sample C and GLSL code, and is accompanied by a demo program with full source code.</p>
  </li>

  <li>
    <%= link_to "Introduction to Software-based Rendering: Triangle Rasterization", :action => "triangle_rasterization" %>
    <p>This article explains how to rasterize triangles. It contains sample C++ code and is accompanied by a demo program with full source code that uses SDL for display.</p>
  </li>

  <li>
    <%= link_to "Introduction to Software-based Rendering: Simple Line Drawing", :action => "simple_line_drawing" %>
    <p>This tutorial starts off a series of articles on software-based graphics rendering by introducing a simple line drawing algorithm. It contains sample C++ code and is accompanied by a demo program with full source code that uses SDL for display.</p>
  </li>

  <li>
    <%= link_to "Cg Pixel Shaders in OpenGL", :action => "cg_pixel_shaders_in_opengl" %>
    <p>This article provides an introduction to writing pixel shaders with the Cg shader programming language and using them in OpenGL with the ARB_fragment_program extension. It contains sample C and Cg code and is accompanied by a simple diffuse lighting demo with full source code.</p>
  </li>

  <li>
    <%= link_to "Stenciled Shadow Volumes in OpenGL", :action => "stenciled_shadow_volumes_in_opengl" %>
    <p>This article explains how to implement shadows in OpenGL, using the popular stenciled shadow volumes technique. Features sample C code and is accompanied by a demo written in C.</p>
  </li>

  <li>
    <%= link_to "Dynamic Lightmaps in OpenGL", :action => "dynamic_lightmaps_in_opengl" %>
    <p>This article explains how to implement dynamic lightmaps in OpenGL with multitexturing. Features sample C code and is accompanied by a demo written in C.</p>
  </li>
</ul>
