<%- pageTitle "DromeAudio" %>

<p>
	DromeAudio is a small audio manipulation and playback library that's
	written in C++. It features a simple API for loading, generating,
	processing, and playing audio. It's distributed under a BSD-style license.
</p>

<p>
	Some of DromeAudio's features include:
</p>

<ul>
	<li>Loading and saving WAV sounds</li>
	<li>Loading Ogg Vorbis sounds</li>
	<li>Audio mixing and playback</li>
	<li>Dynamic audio processing effects, including pitch shifting, oscillator, and echo effects</li>
	<li>Smart pointers with reference counting so that unused sounds are automatically removed from memory</li>
</ul>

<h2>Platforms</h2>

<p>DromeAudio has been successfully tested and used on the following operating systems / hardware architectures:</p>

<ul>
	<li>Arch Linux / x86</li>
	<li>Mac OS X 10.6 / x86-64</li>
</ul>
	
<h2>Download</h2>

<p>The latest version of DromeAudio can be found on <a href="https://github.com/joshb/DromeAudio">GitHub</a>. Previous releases can be downloaded from the links below.</p>

<ul>
	<li><strong><a href="<%= actionFilePath "DromeAudio-0.2.1.tar.gz" %>">DromeAudio-0.2.1.tar.gz</a> (source tarball)</strong></li>
	<ul>
		<li>Date: November 14, 2010</li>
		<li>MD5SUM: 03dc1c551802a45ad119c28a8eb0c24c</li>
		<li>Changes: The CoreAudioSound class, for loading audio files supported by Core Audio on Mac OS X, has been added. A Cocoa-based graphical audio player example for Mac OS X has been added.</li>
	</ul>

	<br />

	<li><strong><a href="<%= actionFilePath "DromeAudio-0.2.0.tar.gz" %>">DromeAudio-0.2.0.tar.gz</a> (source tarball)</strong></li>
	<ul>
		<li>Date: September 10, 2010</li>
		<li>MD5SUM: ce9bb29a246cd7bc5f8786ba46349c2b</li>
		<li>Changes: A bug that could prevent the AudioDriverALSA class from working on some systems has been fixed. The AudioDriverOSX class, which implements audio playback using Core Audio on Mac OS X, has been added. Much of the code has been cleaned up.</li>
	</ul>

	<br />

	<li><strong><a href="<%= actionFilePath "DromeAudio-0.1.2.tar.gz" %>">DromeAudio-0.1.2.tar.gz</a> (source tarball)</strong></li>
	<ul>
		<li>Date: December 30, 2008</li>
		<li>MD5SUM: d88d641565b72a52603024d85339c958</li>
		<li>Changes: The Mutex class has been added. The AudioContext class now uses a mutex to prevent sound emitters from being added/removed while samples are being written to the audio device in the audio update thread.</li>
	</ul>

	<br />

	<li><strong><a href="<%= actionFilePath "DromeAudio-0.1.1.tar.gz" %>">DromeAudio-0.1.1.tar.gz</a> (source tarball)</strong></li>
	<ul>
		<li>Date: October 19, 2008</li>
		<li>MD5SUM: 44a6966fe82cee980d0843aa645b775a</li>
		<li>Changes: The AudioDriverALSA class, for audio playback using ALSA, has been added. Inline documentation has been added to most of the header files and some code has been cleaned up.</li>
	</ul>

	<br />

	<li><strong><a href="<%= actionFilePath "DromeAudio-0.1.0.tar.gz" %>">DromeAudio-0.1.0.tar.gz</a> (source tarball)</strong></li>
	<ul>
		<li>Date: October 13, 2008</li>
		<li>MD5SUM: 12e8e3926cd0db7ccbbd01ec975f3997</li>
	</ul>
</ul>
