<%- pageTitle "Software" %>

	<p>Below are some links to downloads or separate pages for software that I've developed. The source code for some of my software projects can also be found on <a href="https://github.com/joshb">GitHub</a>.</p>

	<ul>
		<li>
			<strong><%= link_to "Drome Engine", :action => "drome_engine" %></strong>
			<p>Drome Engine is a 3D game engine that's written in C++ and uses OpenGL for graphics rendering.</p>
		</li>

		<li>
			<strong><%= link_to "DromeAudio", :action => "dromeaudio" %></strong>
			<p>DromeAudio is a small audio manipulation and playback library that's written in C++.</p>
		</li>

		<li>
			<strong><a href="https://github.com/joshb/DromeXml">DromeXml</a></strong>
			<p>DromeXml is a library for parsing simple XML data. It is written in C++ and designed so that it can be easily included with and incorporated into other projects.</p>
		</li>

		<li>
			<strong><a href="https://github.com/joshb/CocoaOpenGL">CocoaOpenGL</a></strong>
			<p>A simple example of using Cocoa to create an OpenGL application for Mac OS X, including full screen support on OS X 10.7 (Lion). The application demonstrates normal mapping using the OpenGL 3.2 Core Profile and GLSL 1.50. A screenshot of the application can be seen <a href="<%= filePath "screenshots/CocoaOpenGL.png" %>">here</a>.</p>
		</li>

		<li>
			<strong><%= link_to "prtunnel", :action => "prtunnel" %></strong>
			<p>prtunnel is a program that tunnels TCP/IP connections in a variety of ways, including through HTTP and SOCKS5 proxy servers.</p>
		</li>

		<li>
			<strong><a href="software/jsrasterizer/">jsrasterizer</a></strong>
			<p>A simple triangle rasterizer implemented with HTML, CSS, and JavaScript.</p>
		</li>

		<li>
			<strong><a href="<%= filePath "articles/getting_started_with_glsl/glsl_lighting-1.tar.gz" %>">glsl_lighting-1.tar.gz</a> (source tarball; December 30, 2010)</strong>
			<p>An OpenGL application written in C that demonstrates lighting implemented with GLSL shaders. This demo was written for the <%= link_to "Getting Started with the OpenGL Shading Language", :controller => "articles", :action => "getting_started_with_glsl" %> article.</p>
		</li>

		<li>
			<strong><a href="<%= filePath "mbox2eml.pl" %>">mbox2eml.pl</a> (Perl script; July 14, 2009)</strong>
			<p>A small Perl script that creates individual .eml files for each email message stored in an mbox file.</p>
		</li>

		<li>
			<strong><a href="<%= filePath "articles/triangle_rasterization/triangleraster-1.tar.gz" %>">triangleraster-1.tar.gz</a> (source tarball; January 19, 2009)</strong>
			<p>A graphics demo written in C++ that demonstrates triangle rasterization. This demo was written for the <%= link_to "Introduction to Software-based Rendering: Triangle Rasterization", :controller => "articles", :action => "triangle_rasterization" %> article.</p>
		</li>

		<li>
			<strong><a href="<%= filePath "articles/simple_line_drawing/linedrawing-1.tar.gz" %>">linedrawing-1.tar.gz</a> (source tarball; January 3, 2009)</strong>
			<p>A graphics demo written in C++ that demonstrates a simple line drawing algorithm. This demo was written for the <%= link_to "Introduction to Software-based Rendering: Simple Line Drawing", :controller => "articles", :action => "simple_line_drawing" %> article.</p>
		</li>

		<li>
			<strong><a href="<%= filePath "articles/stenciled_shadow_volumes_in_opengl/shadowvolumes-2.tar.gz" %>">shadowvolumes-2.tar.gz</a> (source tarball; August 31, 2008)</strong>
			<p>An OpenGL application written in C that demonstrates stenciled shadow volumes. This demo was written for the <%= link_to "Stenciled Shadow Volumes in OpenGL", :controller => "articles", :action => "stenciled_shadow_volumes_in_opengl" %> article.</p>
		</li>

		<li>
			<strong><a href="<%= filePath "jab_normalmap-1.tar.gz" %>">jab_normalmap-1.tar.gz</a> (source tarball; December 27, 2006)</strong>
			<p>A small OpenGL application that demonstrates normal mapping, a lighting technique that can cause flat surfaces appear to have depth. The normal mapping is accomplished with a fragment program written in Cg and compiled into the ARB_fragment_program shader language. The application is written in C and also requires SDL. It has been tested on Slackware Linux. A screenshot can be seen <a href="<%= filePath "screenshots/jab_normalmap.png" %>">here</a>.</p>
		</li>

		<li>
			<strong><a href="<%= filePath "articles/cg_pixel_shaders_in_opengl/cglighting-1.tar.gz" %>">cglighting-1.tar.gz</a> (source tarball; July 2, 2004)</strong>
			<p>An OpenGL application written in C that demonstrates the use of pixel shaders written in Cg. This demo was written for the <%= link_to "Cg Pixel Shaders in OpenGL", :controller => "articles", :action => "cg_pixel_shaders_in_opengl" %> article.</p>
		</li>

		<li>
			<strong><a href="<%= filePath "articles/dynamic_lightmaps_in_opengl/dynamiclightmaps.tar.gz" %>">dynamiclightmaps.tar.gz</a> (source tarball; November 17, 2003)</strong>
			<p>An OpenGL application written in C that demonstrates dynamic lightmaps. This demo was written for the <%= link_to "Dynamic Lightmaps in OpenGL", :controller => "articles", :action => "dynamic_lightmaps_in_opengl" %> article.</p>
		</li>

		<li>
			<strong><a href="<%= filePath "jab_lighting-0.1.tar.gz" %>">jab_lighting-0.1.tar.gz</a> (source tarball; June 7, 2003)</strong>
			<p>An OpenGL demo featuring dynamic lighting and shadows. The lighting is achieved by multitexturing surfaces with dynamic lightmaps. The shadows are created with stenciled shadow volumes, projected from a model in the middle of the scene. Models can be loaded from md2 files, which are used by Quake II (this demo doesn't include any md2 files, but it can run without any and will just display dynamic lighting). This program requires GLUT. It has been tested on Slackware Linux and OpenBSD. A screenshot with one of the standard Quake II models can be seen <a href="<%= filePath "screenshots/jab_lighting.jpg" %>">here</a>.</p>
		</li>

		<li>
			<strong><a href="<%= filePath "jabheightmap-0.1.tar.gz" %>">jabheightmap-0.1.tar.gz</a> (source tarball; January 27, 2003)</strong>
			<p>A small OpenGL demo featuring a world created with a PNG heightmap. Requires X11/GLX, libGLU, and libpng in addition to OpenGL. A screenshot can be seen <a href="<%= filePath "screenshots/jabheightmap.jpg" %>">here</a>.</p>
		</li>
	</ul>
